{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Симулятор определения компетенций</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="{% static "css/custom.css" %}" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <br>
            <div class="card border-dark mb-3" style="width: 25rem;">
                <div class="card-header"><strong>Ваши текущие параметры</strong></div>
                <div class="card-body" id="result">
                    {% for result in results %}
                        {{ result.param }} : {{ result.value }}
                        <br>
                    {% endfor %}
                </div>
            </div>
            <br>
            <h3>Ситуация</h3>
            <div id="q">{{ answers.first.question.name }}</div>
            <hr>
            <h3>Варианты решения</h3>
            <br>
            <form method="post">
                {% csrf_token %}
                {% for answer in answers %}
                    <label>
                        <input type="radio" name="choice" class="card-input-element d-none" value="{{ answer.text }}">
                        <div class=" card card-body bg-light d-flex flex-row justify-content-between align-items-center">
                            {{ answer.text }}
                        </div>
                    </label>
                {% endfor %}

                {#                <div id="results">#}
                {#                    <br>#}
                {#                    {% if option %}#}
                {#                        {{ option.name }}#}
                {#                    {% endif %}#}
                {#                    <br>#}
                {#                    Ваши очки:#}
                {##}
                {#                    <br>#}
                {#                    {% for result in results %}#}
                {#                        {{ result.param }} = {{ result.value }}#}
                {#                        <br>#}
                {#                    {% endfor %}#}
                {#                    <br>#}
                {#                </div>#}
                {##}


            </form>
            <br>
            <button id="send" class="btn btn-success labelText" disabled>
                Применить
            </button>
            <a id="go" role="button" class="btn btn-info labelText" disabled>
                {% if not end %}
                    Перейти
                {% else %}
                    Завершить
                {% endif %}
            </a>
        </div>
    </div>
</div>
</body>
<script>

    sent = false;

    $('.card-input-element').on('click', function () {
        console.log($(this).prop('checked'));
        send_button = $('#send');
        if (!sent && send_button.is(':disabled')) {
            send_button.prop('disabled', false);
        }

    });
    $('#send').click(function () {
        question = $("#q").text();
        answer = $("input[name='choice']:checked").val();
        $.ajax({
            url: '/sim/ajax_save',
            type: 'get',
            data: {'question': question, 'choice': answer},
            dataType: 'json',
            success: function (data) {
                $('#result').html(data.points);
                $('#go').prop({'disabled': false, 'href': data.jump});
                $('#send').prop({'disabled': true});
                sent = true;

            },
            error: function () {
                alert("error");
            },
        })
    })
</script>
</html>